silverstripe.log
.buildpath
.project
.settings
.solr
.ea
.idea
.DS_Store
.env
.platform.yml
.vscode
yarn-error.log
/silverstripe-cache/
/.env
/vendor/
/themes/simple/
/resources/
/public/resources/
/.vagrant
/node_modules
Vagrantfile
wraith
/certs/*
/public/_resources
